#today {
    min-height: 25vh;
    max-height: 25vh;
}

#tomorrow,
#day-2,
#day-3,
#day-4,
#day-5 {
    min-height: 15vh;
    max-height: 15vh
}

#city-list {
    min-height: 100vh;
    max-height: 100vh;
}