.title {
    font-size: 3rem;
}


#subtitle {
    min-height: 15vh;
}

#current-city {
    font-size: 35px;
    padding-left: 10px;
    font-weight: bold;
}

#main-container {
    visibility: hidden;

}

#today {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 52vh;
    max-height: 52vh;
    font-size: 30px
}

#tomorrow,
#day-2,
#day-3,
#day-4,
#day-5,
#day-6 {
    min-height: 15vh;
    max-height: 15vh;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#city-list {
    min-height: 127vh;
    max-height: 127vh;
    display: flex;
    flex-direction: column;
}


h3 {
    font-weight: bold;

}

footer {
    display: flex;
    justify-content: space-around;
    max-height: 15vh;
}

footer img {
    max-width: 25%;

}

.city-btn {
    font-size: 30px;
    box-shadow: 5px 5px;
    margin: 5px;
}